// color schema - https://coolors.co/a62639-db324d-f7f0f5-a2a5a5-302e2f

$font-color = #302E2F
$gray = #A2A5A5

$bg-color = #F7F0F5
// $bg-color = #F7F0F5

$primary-color = #d70c18
$secondary-color = #ef8200
$terciary-color = #f9be00
$fourth-color = #4f9835
$fiveth-color = #00619b