// initial formats
body
	font-family 'Roboto', sans-serif
	font-weight 300

flex($direction = row, $justify = center, $items = center)
	display flex
	flex-direction $direction
	justify-content $justify
	align-items $items	

inlineFlex($direction = row, $justify = center, $items = center)
	display inline-flex
	flex-direction $direction
	justify-content $justify
	align-items $items
	
$page-horinzontal-margin = 45px;

// brand
a.my-brand 
	position relative
	
	&:after
		content ''
		display block
		position absolute
		width 100%
		height 100%
		left 5px
		top 5px
		background-color #e4e4e4
		z-index -1

	> span
		flex()
		font-size 20px
		color #000
		border solid 2px #000
		width 40px
		height 40px 
		z-index 1
		
// page header
header.page-header 
	position absolute
	width 100% 
	top 0
	left 0
	flex(row, space-between)
	padding 15px $page-horinzontal-margin
	
	> .social-list
		> .social
			display inline-block
			width 18px
			height 18px
			
			& + .social 
				margin-left 10px

// me
section.me
	flex(row, flex-start)
	min-height 100vh
	padding-left $page-horinzontal-margin
	padding-right $page-horinzontal-margin
	
	> .container
		font-size 34px
		max-width 768px

		> .title
			font-size 1em
			font-weight 300
			margin-bottom 20px
			
			> .name
				font-weight 500
				color #e4e4e4		
				
		> .about 
			font-size .55em
			line-height 1.6em
			font-weight 400
			
			> span.role
				font-weight 500
				
			> span.highlighted
				font-weight 500
				color #e4e4e4